/* Created by Gio Contreras - 2025-11-25 */
body { font-family: Arial; margin: 0; padding: 0; background: #f4f4f4;}
header { background: #222; color: #fff; padding: 20px; text-align:center;}
nav { background: #444; padding: 10px; text-align:center;}
nav a { color: white; margin: 0 10px; text-decoration:none; }
section { padding: 20px; }
img { max-width: 100%; border-radius: 6px; }
.logo { width:180px; display:block; margin:0 auto 10px; }
